.menu {
	position: fixed;
	font-family: "EB Garamond";
	font-weight: 500;
	font-size: 2em;
	font-style: italic;
	background-color: var(--old-pink);
	line-height: 0.9;
}

.menu.active {
	top: 0px;
	left: 0px;
	margin: 0.2em;
}
